body{
  font-size:20px;
  font-style:strike-through;
}


a{
  color:#0BB8E3;
  font-size:1.2em
}
 
button.form-control.input-lg
{
  padding-left:0px;
  padding-right:0px;
  padding-bottom: 9px;  
  padding-top:0px;
}
  .form {
    padding-top:50px;
    padding-bottom:75px;
    padding-left:70px;
    padding-right:70px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .greenbox{
    padding-top:50px;
    padding-bottom:50px;
    padding-left:70px;
    padding-right:70px;
    background-color:#EFF8E4;
    margin-top:40px;
  }
  .green {
      background-color:#98cc53;
      color:white;
      font-size: 16px;   
    }
    .formcheckmarks
    {
      margin-top:20px;
      color:grey;
      font-size:medium;
    }
    .paddingtop
    {
      padding-top:20px;
    }
    .paddingbottom
    {
      padding-bottom:20px;
    }
  


  

    .dropdown-menu {
      max-height: 500px;
      overflow-y: auto;
      overflow-x: hidden;
      }



    
    .btn-group.btn {   border: 0;   padding: 0; }
    .btn-group.btn > .btn { border-radius: 0 }
    .btn-group.btn > .dropdown-menu {  text-align: left; }
    .btn-group.btn:first-child > .btn {
      -webkit-border-radius: 4px 0 0 4px;
         -moz-border-radius: 4px 0 0 4px;
              border-radius: 4px 0 0 4px;
    }
    
    .btn-group.btn:last-child > .btn {
      -webkit-border-radius: 0 4px 4px 0;
         -moz-border-radius: 0 4px 4px 0;
              border-radius: 0 4px 4px 0;
    }