
      <form (ngSubmit)="onSubmit()" #pricingForm="ngForm" class="form">
          
          {{diagnostic}}
          <h2 class="text-center">Get a price for home cleaning</h2>
    <div class="greenbox">


      <!-- POSTAL CODE -->
      <div class="row ">
        <div class="col-md-4 ">
          <div class="btn-group">
            <input type="text" class="form-control input-lg postal" id="postal" placeholder="postal code" required [(ngModel)]="booking.postal" name="postal"  #postal="ngModel" >
            <div [hidden]="postal.valid || postal.pristine" class="alert alert-danger">Postal is required</div>
          </div>
        </div>
     

        <div class="col-md-4  ">
          <div class="btn-group">
            <div class="btn-group">
              <button type="button" class="btn btn-lg btn-default dropdown-toggle" data-toggle="dropdown"  >
                  {{beds}}
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li><a (click)="OnBeds(0)">0 beds</a></li>
                <li><a (click)="OnBeds(1)">1 beds</a></li>
                <li><a (click)="OnBeds(2)">2 beds</a></li>
                <li><a (click)="OnBeds(3)">3 beds</a></li>
                <li><a (click)="OnBeds(4)">4 beds</a></li>
                <li><a (click)="OnBeds(5)">5 beds</a></li>
                <li><a (click)="OnBeds(6)">6 beds</a></li>
                <li><a (click)="OnBeds(7)">7 beds</a></li>
                <li><a (click)="OnBeds(8)">8 beds</a></li>
                <li><a (click)="OnBeds(9)">9 beds</a></li>
                <li><a (click)="OnBeds(10)">10 beds</a></li>
              </ul>
            </div>
            <div class="btn-group">
              <button type="button" class="btn btn-lg btn-default dropdown-toggle" data-toggle="dropdown">
                  {{baths}}
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li><a (click)="OnBaths(0)">0 baths</a></li>
                <li><a (click)="OnBaths(1)">1 baths</a></li>
                <li><a (click)="OnBaths(2)">2 baths</a></li>
                <li><a (click)="OnBaths(3)">3 baths</a></li>
                <li><a (click)="OnBaths(4)">4 baths</a></li>
                <li><a (click)="OnBaths(5)">5 baths</a></li>
                <li><a (click)="OnBaths(6)">6 baths</a></li>
                <li><a (click)="OnBaths(7)">7 baths</a></li>
                <li><a (click)="OnBaths(8)">8 baths</a></li>
                <li><a (click)="OnBaths(9)">9 baths</a></li>
                <li><a (click)="OnBaths(10)">10 baths</a></li>
              </ul>
            </div>
          </div>

        </div>

        <!-- TIME -->
        <div class="col-md-4 ">
          <div class="input-group">
             
         
              <my-date-picker name="mydate" [options]="myDatePickerOptions"  class="form-control input-lg " 
               [selector]="selector" (dateChanged)="onDateChanged($event)"  [selDate]="booking.selDate" >
            </my-date-picker>
            
              <div class="input-group-btn">
              <button type="button" class="btn btn-default btn-lg dropdown-toggle" data-toggle="dropdown">{{time}}
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu pull-right">
                <li><a (click)="OnTime('7:00 AM')">7:00 AM</a></li>
                <li><a (click)="OnTime('7:30 AM')">7:30 AM</a></li>
                <li><a (click)="OnTime('8:00 AM')">8:00 AM</a></li>
                <li><a (click)="OnTime('8:30 AM')">8:30 AM</a></li>
                <li><a (click)="OnTime('9:00 AM')">9:00 AM</a></li>
                <li><a (click)="OnTime('9:30 AM')">9:30 AM</a></li>
                <li><a (click)="OnTime('10:00 AM')">10:00 AM</a></li>
                <li><a (click)="OnTime('10:30 AM')">10:30 AM</a></li>
                <li><a (click)="OnTime('11:00 AM')">11:00 AM</a></li>
                <li><a (click)="OnTime('11:30 AM')">11:30 AM</a></li>
                <li><a (click)="OnTime('12:00 PM')">12:00 PM</a></li>
                <li><a (click)="OnTime('12:30 PM')">12:30 PM</a></li>
                <li><a (click)="OnTime('1:00 PM')">1:00 PM</a></li>
                <li><a (click)="OnTime('1:30 PM')">1:30 PM</a></li>
                <li><a (click)="OnTime('2:00 PM')">2:00 PM</a></li>
                <li><a (click)="OnTime('2:30 PM')">2:30 PM</a></li>
                <li><a (click)="OnTime('3:00 PM')">3:00 PM</a></li>
                <li><a (click)="OnTime('3:30 PM')">3:30 PM</a></li>
                <li><a (click)="OnTime('4:00 PM')">4:00 PM</a></li>
                <li><a (click)="OnTime('4:30 PM')">4:30 PM</a></li>
                <li><a (click)="OnTime('5:00 PM')">5:00 PM</a></li>
                <li><a (click)="OnTime('5:30 PM')">5:30 PM</a></li>
                <li><a (click)="OnTime('6:00 PM')">6:00 PM</a></li>
                <li><a (click)="OnTime('6:30 PM')">6:30 PM</a></li>
                <li><a (click)="OnTime('7:00 PM')">7:00 PM</a></li>
                <li><a (click)="OnTime('7:30 PM')">7:30 PM</a></li>
                <li><a (click)="OnTime('8:00 PM')">8:00 PM</a></li>
                <li><a (click)="OnTime('8:30 PM')">8:30 PM</a></li>
                <li><a (click)="OnTime('9:00 PM')">9:00 PM</a></li>
                
                
               
              </ul>
            </div>
          </div>
          
        </div>
      </div>

      <!-- EMAIL -->
      <div class="row paddingtop">
        <div class="col-md-3 col-md-offset-3">
          <input type="text" class="form-control input-lg" id="email" placeholder="email" required [(ngModel)]="booking.email" name="email"  #email="ngModel" >
          <div [hidden]="email.valid || email.pristine" class="alert alert-danger">Email is required</div>
        
        </div>
        <!-- PRICE BUTTON -->
        <div class="col-md-3">
            <button type="submit" class="btn btn-lg green  btn-block" [disabled]="!pricingForm.form.valid">Submit</button>
          
        </div>
      </div>
    </div>



    <!-- FORM checkmarks -->
    <div class="col-md-4">
      <p class="formcheckmarks text-right ">
        <span class="glyphicon glyphicon-ok text-success"></span> Experienced and vetted professionals</p>
    </div>
    <div class="col-md-4">
      <p class="formcheckmarks text-left">
        <span class="glyphicon glyphicon-ok text-success"></span> Easy online scheduling and payment</p>
    </div>
    <div class="col-md-4">
      <p class="formcheckmarks text-left">
        <span class="glyphicon glyphicon-ok text-success"></span> Cleaning supplies included</p>
    </div>
  </form>

