<div class="container">
    <h1 class="bluecolor" style="font-weight:bold">Maids</h1>
</div>
{{diagnostic}}


<div class="container-fluid couponbar text-center ">
    Coupon applied! Check out in the next
    <span class="bluecolor" style="font-weight:bold">24:00</span> and get
    <span class="bluecolor" style="font-weight:bold">{{pricing.coupon}}%</span> off your first booking
</div>


<div class="body">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="panel">
                    <h2 class="paddingbottom">Set up your cleaning service</h2>

                    <span class="numberCircle">&#9312;</span>
                    <!----------------- (MONTHS) ------------------------>
                    <span class="sectionHeading"> Choose your cleaning schedule</span>
                    <a class="howitworks" html="true" data-toggle="tooltip" title="Our cleaning service requires a minimum commitment term.&#010; Cancelling before the minimum term is complete will result in a fee.">
                        <i class="fa fa-question-circle-o" aria-hidden="true"></i> How it works</a>

                    <p class="sectionSubHeading "> You can always change, reschedule, or save cleanings for later!</p>
                    <div class="row paddingLeft paddingbottom">
                        <div class="col-md-3">
                            <button class="btn btn-lg button" [ngClass]="booking.weeklySchedule==0? 'pressed' : 'normal'" (click)="booking.weeklySchedule=0;">
                                <span class="monthterm">Monthly </span>
                            </button>
                        </div>
                        <div class="col-md-3">
                            <button class="btn btn-lg button" [ngClass]="booking.weeklySchedule==1 ? 'pressed' : 'normal'" (click)="booking.weeklySchedule=1;">
                                <span class="monthterm">Biweekly </span>
                            </button>
                        </div>
                        <div class="col-md-3">
                            <button class="btn btn-lg button" [ngClass]="booking.weeklySchedule==2 ? 'pressed' : 'normal'" (click)="booking.weeklySchedule=2;">
                                <span class="monthterm">Weekly </span>
                            </button>
                        </div>
                        <div class="col-md-3">
                                <button class="btn btn-lg button" [ngClass]="booking.weeklySchedule==3 ? 'pressed' : 'normal'" (click)="booking.weeklySchedule=3;">
                                    <span class="monthterm">One Time </span>
                                </button>
                            </div>



                    </div>



                    <span class="numberCircle">&#9313;</span>
                    <!----------------- (SAVINGS) ------------------------>
                    <span class="sectionHeading"> Get more savings </span>
                    <p class="sectionSubHeading "> Save more when you sign up for longer. If you're ever unhappy with a cleaning,'ll send another pro at
                        no extra charge to your next booking.</p>
                  
                    <div class="row paddingLeft" *ngIf="booking.weeklySchedule<3">
                            <p class="pricepercleaning">Price per cleaning:</p>
                        <div class="col-md-4">
                            <button class="btn btn-lg button" [ngClass]="booking.monthlyTerm==0? 'pressed' : 'normal'" (click)="booking.monthlyTerm=0;">
                                <span class="monthterm">3 Months</span>
                                <p class="monthprice">{{Price3Month| currency}}</p>
                            </button>
                        </div>
                        <div class="col-md-4">
                            <button class="btn btn-lg button" [ngClass]="booking.monthlyTerm==1 ? 'pressed' : 'normal'" (click)="booking.monthlyTerm=1;">
                                <span class="monthterm">6 Months</span>
                                <p class="monthprice">{{Price6Month| currency}}</p>
                                <p class="badge">Save {{Savings6Month}}%</p>
                            </button>
                        </div>
                        <div class="col-md-4">
                            <button class="btn btn-lg button" [ngClass]="booking.monthlyTerm==2 ? 'pressed' : 'normal'" (click)="booking.monthlyTerm=2;">
                                <span class="monthterm">12 Months</span>
                                <p class="monthprice">{{Price12Month| currency}}</p>
                                <p class="badge">Save {{Savings12Month}}%</p>

                            </button>
                        </div>
                    </div>








                    <hr>
                    <!----------------- (ADDRESS) ------------------------>
                    <span class="numberCircle">&#9314;</span>
                    <span class="sectionHeading"> Address</span>

                    <form>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="firstName">First Name</label>
                                <input type="text" class="form-control input-lg" id="firstName" required [(ngModel)]="booking.firstName" name="firstName"  #firstName="ngModel">
                                <div [hidden]="firstName.valid || firstName.pristine" class="alert alert-danger">First Name is required</div>
                                
                            </div>
                            <div class="form-group col-md-6">
                                <label for="lastName">Last Name</label>
                                <input type="text" class="form-control input-lg" id="lastName" required [(ngModel)]="booking.lastName" name="lastName"  #lastName="ngModel">
                                <div [hidden]="lastName.valid || lastName.pristine" class="alert alert-danger">Last Name is required</div>
                                
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="address">Street Address </label>
                                <input type="text" class="form-control input-lg" id="address" required [(ngModel)]="booking.address" name="address"  #address="ngModel">
                                <div [hidden]="address.valid || address.pristine" class="alert alert-danger">Address is required</div>
                                
                            </div>
                            <div class="form-group col-md-6">
                                <label for="apt">Apt # (optional) </label>
                                <input type="text" class="form-control input-lg" id="apt" required [(ngModel)]="booking.apartment" name="apartment"  #apartment="ngModel" >
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="city">City </label>
                                <input type="text" class="form-control input-lg" id="city" required [(ngModel)]="booking.city" name="city"  #city="ngModel">
                                <div [hidden]="city.valid || city.pristine" class="alert alert-danger">City is required</div>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="province">Province </label>
                                <input type="text" class="form-control input-lg" id="province" required [(ngModel)]="booking.province" name="province"  #province="ngModel">
                                <div [hidden]="province.valid || province.pristine" class="alert alert-danger">Province is required</div>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="phone">Phone Number </label>
                                <div class="input-group">
                                    <span class="input-group-addon" id="phone">+1</span>
                                    <input type="text" class="form-control input-lg" id="phone" required [(ngModel)]="booking.phone" name="phone"  #phone="ngModel">
                                <div [hidden]="phone.valid || phone.pristine" class="alert alert-danger">Phone is required</div>
                                </div>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="referral">How did you hear about us? (optional) </label>
                                <select class="form-control input-lg" id="referral" [(ngModel)]="booking.referral" name="referral"  #referral="ngModel">
                                    <option selected value="0">Select one</option>
                                    <option value="1">TV</option>
                                    <option value="2">Radio</option>
                                    <option value="3">Facebook</option>
                                    <option value="5">Daily Deal Site</option>
                                    <option value="9">Newspaper/Magazine</option>
                                    <option value="11">Friend/Family/Word of Mouth</option>
                                    <option value="12">Search Engine (Google/Yahoo/Bing)</option>
                                    <option value="13">Other</option>
                                </select>
                            </div>
                        </div>
                    </form>


                    <p>&nbsp;</p>
                    <hr>
                    <!----------------- (EXTRAS) ------------------------>
                    <span class="numberCircle">&#9315;</span>
                    <span class="sectionHeading"> EXTRAS </span>
                    <div class="row paddingtop">
                        <div class="col-md-2 col-md-offset-1">
                            <a (click)="AddExtra(0);">
                                <img *ngIf="booking.insideCabinets==false" src="cabinet_1.png" width="75" alt="">
                                <img *ngIf="booking.insideCabinets==true" src="cabinet_2.png" width="75" alt="">
                            </a>
                            <p class="text-center paddingtop">Inside cabinets</p>
                        </div>
                        <div class="col-md-2 ">
                            <a (click)="AddExtra(1);">
                                <img *ngIf="booking.insideFridge==false" src="fridge_1.png" width="75" alt="">
                                <img *ngIf="booking.insideFridge==true" src="fridge_2.png" width="75" alt="">
                            </a>
                            <p class="text-center paddingtop">Inside fridge</p>
                        </div>
                        <div class="col-md-2">
                            <a (click)="AddExtra(2);">
                                <img *ngIf="booking.carpetCleaning==false" src="carpet_1.png" width="75" alt="">
                                <img *ngIf="booking.carpetCleaning==true" src="carpet_2.png" width="75" alt="">
                            </a>
                            <p class="text-center paddingtop">Carpet cleaning</p>
                        </div>
                        <div class="col-md-2 ">
                            <a (click)="AddExtra(3);">
                                <img *ngIf="booking.laundry==false" src="laundry_1.png" width="75" alt="">
                                <img *ngIf="booking.laundry==true" src="laundry_2.png" width="75" alt="">
                            </a>
                            <p class="text-center paddingtop">Laundry wash & dry</p>
                        </div>
                        <div class="col-md-2">
                            <a (click)="AddExtra(4);">
                                <img *ngIf="booking.windows==false" src="window_1.png" width="75" alt="">
                                <img *ngIf="booking.windows==true" src="window_2.png" width="75" alt="">
                            </a>
                            <p class="text-center paddingtop">Interior windows</p>
                        </div>
                    </div>




                    <hr>
                    <!----------------- (AGREE) ------------------------>
                    <p>By clicking the button below, I understand that I am purchasing a recurring cleaning service subject
                        to Maid’s
                        <a> Terms of Use</a> and
                        <a>Cancellation Policy</a> and my payment method will be charged before each cleaning.</p>
                    <button type="submit" class="btn btn-lg completebooking btn-block">Complete Booking</button>
                </div>

            </div>






            <div class="col-md-4">
                <div class="panel">
                    <div class="SideBarDetails ">
                        <p style="font-weight:bold">{{cleaningPlan}} Cleaning Plan</p>
                        <p *ngIf="booking.weeklySchedule<3">Minimum {{minimumTerm}} months</p>

                        <p *ngIf="booking.insideCabinets==true">Inside cabinets</p>
                        <p *ngIf="booking.insideFridge==true">Inside fridge</p>
                        <p *ngIf="booking.carpetCleaning==true">Carpet cleaning</p>
                        <p *ngIf="booking.laundry==true">Laundry wash & dry</p>
                        <p *ngIf="booking.windows==true">Interior windows</p>
                        

                        <p>{{dateTime}}</p>
                        <p> {{booking.beds}} bed, {{booking.baths}} bath</p>
                        <hr>
                    </div>
                    <div class="SideBarSubTotal ">
                        <div class="col-md-8">
                            <p>Per cleaning</p>
                            <p>Coupon</p>
                            <span>Trust & Support Fee </span>
                            <a class="howitworks" html="true" data-toggle="tooltip" title="This fee helps support the Handy Platform and&#010; related services, including various operating costs and support&#010; measures like insurance, background checks and always&#010; on customer support.">
                                    <i class="fa fa-question-circle-o" aria-hidden="true"></i></a>
                        </div>
                        <div class="col-md-4">
                            <p> {{PricePerCleaning|currency}}</p>
                            <p>-{{Coupon|currency}}</p>
                            <p>{{pricing.supportFee|currency }}</p>
                        </div>
                        <p>&nbsp;</p>
                        <hr>
                    </div>
                    <div class="SideBarTotal ">
                        <div class="col-md-6">
                            <p style="font-weight:bold;padding-top:10px;">TODAY'S TOTAL</p>
                        </div>
                        <div class="col-md-6">
                            <p class="total" >{{Total|currency}} <span class="currency">CAD</span></p>
                        </div>

                    </div>


                </div>

                <div class="questions paddingtop">
                    <h4 class="text-center lead">Questions?</h4>



                    <div>
                        <div class="paddingtop">
                            <a href="#q1" data-toggle="collapse">
                                <i class="fa fa-caret-right question" aria-hidden="true"></i>
                                <span class="question">What’s included in a cleaning service?</span>
                            </a>
                            <div id="q1" class="collapse">
                                <span class="answer">See what's included in a cleaning
                                    <a>here.</a>
                                </span>
                            </div>
                        </div>
                        <div class="paddingtop">                           
                                <a href="#q2" data-toggle="collapse">
                                    <i class="fa fa-caret-right question" aria-hidden="true"></i>
                                    <span class="question">Which Handy Pro will come to my place?</span>
                                </a>
                                <div id="q2" class="collapse">
                                   <ul>
                                       <li> <p class="answer">Handy has a vast network of experienced, top-rated cleaners. Based on the time and date of your request, we work to assign the best professional available.</p></li>
                                       <li> <p class="answer">Like working with a specific pro? Add them to your Pro Team from the mobile app and they'll be requested first for all future bookings.</p></li>
                                       <li> <p class="answer">You will receive an email with details about your professional prior to your appointment.</p></li>
                                       
                                      </ul>
                                </div>
                            </div>
                            <div class="paddingtop">
                                    <a href="#q3" data-toggle="collapse">
                                        <i class="fa fa-caret-right question" aria-hidden="true"></i>
                                        <span class="question">Can I skip or reschedule bookings?</span>
                                    </a>
                                    <div id="q3" class="collapse">
                                        <p class="answer">
                                                You can reschedule any booking for free at least 24 hours in advance of the scheduled start time. If you need to skip a booking within the minimum commitment, we’ll credit the value of the booking to your account. You can use this credit on future cleanings and other Handy services.
                                        </p>
                                    </div>
                                </div>
                                <div class="paddingtop">
                                        <a href="#q4" data-toggle="collapse">
                                            <i class="fa fa-caret-right question" aria-hidden="true"></i>
                                            <span class="question">What is your plan cancellation policy?</span>
                                        </a>
                                        <div id="q4" class="collapse">
                                            <p class="answer">
                                                    Each cleaning plan requires a minimum commitment term. Cancelling your plan before the minimum term is complete, will result in a $99 fee.
                                                </p>
                                        </div>
                                    </div>
                                    <div class="paddingtop">
                                            <a href="#q5" data-toggle="collapse">
                                                <i class="fa fa-caret-right question" aria-hidden="true"></i>
                                                <span class="question">What happens after the minimum term?    </span>
                                            </a>
                                            <div id="q5" class="collapse">
                                                <p class="answer">
                                                            Once your commitment term is complete, your plan will remain active and cleanings will continue to be scheduled and charged based on your selected frequency, but you may cancel your plan at no charge.
                                                    </p>
                                            </div>
                                        </div>
                                        <div class="paddingtop">
                                                <a href="#q6" data-toggle="collapse">
                                                    <i class="fa fa-caret-right question" aria-hidden="true"></i>
                                                    <span class="question">I need more help.</span>
                                                </a>
                                                <div id="q6" class="collapse">
                                                    <p class="answer">
                                                        <a >Need more help?</a>
                                                        </p>
                                                </div>
                                            </div>

                    </div>


                </div>
            </div>



        </div>

        <a href="" style="padding-right:30px;color:darkgray">Privacy</a>
        <a href="" style="padding-right:30px;color:darkgray">Terms</a>
        <a href="" style="padding-right:30px;color:darkgray">Cancellation Policy</a>
        <span style="padding-left:230px;color:grey;">© 2017 Maids. All rights reserved.</span>

    </div>