.body{
    background-color: #EDF5F8;
    padding-top:50px;    
    padding-bottom:50px;    
    
    
}


a{
    color:#0BB8E3;
  }
.couponbar
{
    background-color: black;
    color:white;
    font-size:1.3em;
    padding-top: 8px;
    padding-bottom: 8px;
}

.panel{
    padding:20px;
}
.bluecolor
{
    color:#00CDED;
}


.numberCircle {
    font-size: 200%; 
    color:black;
    padding-right:10px;
}

.sectionHeading
{
    font-weight: bold;
    font-size:140%;
    margin:40px;
}

.sectionSubHeading 
{
    
    font-size:120%;
    padding:20px;
}
.button
{
    background-color: white;
    border-style: solid;
    width:80%;
    height:60px;
    outline:none;
   
}


.paddingLeft
{
    padding-left:35px;
}
.paddingbottom
{
    padding-bottom:10px;
}
.paddingtop
{
    padding-top:10px;
}

.pressed
{
    border-color: #00CDED;
    border-width: 3px;
}
.normal
{
    border-color: darkgray;
    border-width: 1px;
}


.monthterm
{
    font-weight: bold;
    display:block;
}
.monthprice
{
    font-size:90%;
    font-weight:normal;
}

.pricepercleaning
{
    padding-left:40px;
    font-size:120%;
}
.howitworks
{
    text-align: right;
    padding-right:35px;
    margin-top:15px; 
}

.badge
{
    background-color:white;
    color:black;
    position: relative;
    left: 20px;
    top:-75px;
    
}



label{
    font-weight: normal;
}



form{
    padding-top:20px;
}

.completebooking
{
    background-color:#98cc53;
    color:white;
    font-size:175%;
    font-weight: bold;
    margin-top: 20px;
}


.SideBarDetails
{
    padding-left: 15px;
}
.SideBarTotal
{
    padding-bottom: 35px;
}

.question
{
    color:black;
    font-size: 120%;
    padding-left:10px;
}
.answer
{
    color:black;
    font-size: 120%;
    padding-left:30px;    
}

.total{
   
    font-weight: bold;
    font-size:160%;
    color:#0BB8E3;
}

.currency
{
    font-weight: bold;
    font-size:70%;
    color:#0BB8E3;
}
