<footer id="myFooter">
  <div class="container">
      <div class="row">
          <div class="col-sm-4 myCols">
              <h5>Company</h5>
              <ul>
                  <li><a href="#">The Maid Happiness Guarantee</a></li>
                  <li><a href="#">About</a></li>
                  <li><a href="#">Blog</a></li>
                  <li><a href="#">Help</a></li>
                  <li><a href="#">Contact Us</a></li>
                  <li><a href="#">Be a Professional</a></li>
                </ul>
          </div>
          
          <div class="col-sm-4 myCols">
              <h5>Locations</h5>
              <ul>
                  <li><a href="#">Vancouver</a></li>
                  <li><a href="#">Richmond</a></li>
                  <li><a href="#">Surrey</a></li>
                  <li><a href="#">Coquitlam</a></li>
                  <li><a href="#">Burnaby</a></li>
                  <li><a href="#">New West</a></li>
                  
              </ul>
          </div>
          <div class="col-sm-4 myCols">
              <h5>Legal</h5>
              <ul>
                  <li><a href="#">Privacy</a></li>
                  <li><a href="#">Terms</a></li>
                  <li><a href="#">Cancellation Policy</a></li>
                  
              </ul>
          </div>
      </div>
  </div>
<hr class="container">
  <div class="social-networks">
      <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
      <a href="#" class="facebook"><i class="fa fa-facebook-official"></i></a>
      <a href="#" class="google"><i class="fa fa-google-plus"></i></a>
  </div>
  <div class="footer-copyright">
      <p>© 2017 Maids. All rights reserved.</p>
  </div>
</footer>