<div class="container">
<nav class="navbar navbar-default " >

    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#" style="font-weight:bold" >Maids</a>
      </div>
  
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li><a href="#">All Services</a></li>
          <li><a href="#">Our Gaurantee</a></li>
         
        </ul>
     
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">Blog</a></li>
             <li><a href="#">Help</a></li>
             <li><a href="#">Contact Us</a></li>
             <li *ngIf="!isLoggedIn" [routerLinkActive]="['link-active']" [routerLinkActiveOptions]="{exact: true}">
              <a [routerLink]="['/login']">
                  Login
              </a>
          </li>
          <li *ngIf="isLoggedIn" [routerLinkActive]="['link-active']" [routerLinkActiveOptions]="{exact: true}" >
             
              <a  routerLink="/login" >
                  My Bookings
              </a>
          </li>
            
          <li *ngIf="isLoggedIn">
              <div class="dropdown">
                  <button class="btn btn-link dropdown-toggle" type="button" data-toggle="dropdown">pchahal
                  <span class="caret"></span></button>
                  <ul class="dropdown-menu">
                    <li (click)="onLogout()"><a >Sign Out</a></li>
                  </ul>
                </div>
          </li>
          
         
     
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
    <p style="padding-left:50px">{{user.email}}</p>
    <p style="padding-left:50px"> {{user.password}}</p>
    <p style="padding-left:50px"> {{user.username}}</p> 
    
    
  </nav>
  
  </div>  