
.navbar-nav > li > a {
    color: black;
   
    font-size:1.1em;
}

.navbar-nav > li > a:hover {
    color:#0BB8E3;
  
    
}

.navbar-brand {
    color: #0BB8E3;
    font-size: 2em;   
}

.navbar
{
    background-color:#FFFFFF;
    border: none;
}

.dropdown
{
    margin-top:8px;
}
