


.panel
{
    border-color:pink;
    background-color: #0BB8E3;   
    padding-top: 100px;
    padding-bottom: 100px;
    margin-left: 200px;
    margin-right: 200px;
    color: white;
    
}

.form
{
    padding-top: 50px;
    
}

.container
{
    padding-top: 100px;
    padding-bottom: 100px;

}

.login
{
    color:white;
    background-color:#8CC63F;
    margin-bottom:50px;
    width:46%;
}

.paddingtop
{
    padding-top: 20px;
}

.paddingbottom
{
    padding-bottom: 20px;
}