<app-navbar>
</app-navbar>


<div class="container">
  <div class="panel">
    <h2 class="text-center">Login in to Maids</h2>
    <form (ngSubmit)="onSubmit()" #loginForm="ngForm" class="form">

      <div class="row">

        <div class="col-xs-offset-3 col-xs-6 paddingbottom">
          <label for="firstName">Email</label>
          <input type="text" class="form-control input-lg" id="email" required [(ngModel)]="user.email" name="email"
            #email="ngModel">
          <div [hidden]="email.valid || email.pristine" class="alert alert-danger">Email is required</div>
        </div>
        
        
        <div class="col-xs-offset-3 col-xs-6 paddingbottom">
          <label for="firstName">Password</label>
          <input type="password" class="form-control input-lg" id="password" required [(ngModel)]="user.password" name="password"
            #password="ngModel">
          <div [hidden]="password.valid || password.pristine" class="alert alert-danger">Password is required</div>
        </div> 


        <button type="submit" class="btn btn-lg center-block login " >Log in</button>
        <p style="padding-left:50px">{{user.email}}</p>
        <p style="padding-left:50px"> {{user.password}}</p>
        <p style="padding-left:50px"> {{user.username}}</p>  
      </div>
    </form>
</div>

</div>


<app-footer></app-footer>