
  a{
    color:#0BB8E3;
    font-size:1.2em
  }
  .howitworks
    {
      background-color:#F4F4F4;
    }
    .paddingtop
    {
      padding-top:20px;
    }
    .paddingbottom
    {
      padding-bottom:20px;
    }
    