<app-navbar>
</app-navbar>
<img   src="bghome.jpg"  width="100%" height="350px" >

<img src="bottle.png" class="img-circle" style="width:80px;height:80p;position:absolute;right:50%;top:380px;" alt="">


<div class="container">

        <app-pricing-form></app-pricing-form>
        <!-- TERMS -->
        <div class="row text-center paddingtop small" style="color:grey">
          <span>By entering my email above, I agree to receive updates and exclusive offers from Handy. Consent can be withdrawn any
            time. For more details see our
            <a href="">Terms of Use</a> or
            <a href="">Contact Us.</a>
          </span>
        </div>
      
        <!-- GAURANTEE -->
        <hr>
        <div class="row ">
          <div class="col-md-2 col-md-offset-2">
            <img src="gaurantee.png" alt="" width="130" height="130">
          </div>
          <div class="col-md-6 text-lg">
            <h3>
              <strong> Backed by the Maid Happiness Guarantee</strong>
            </h3>
            <h4>Your happiness is our goal. If you're not happy, </h4>
            <h4>we'll work to make it right.
              <a href="">Learn more</a>
            </h4>
          </div>
        </div>
        <hr>
      
      
      
        <!-- WHATS INCLUDED -->
        <div class="text-center">
          <a class="text-center" href="" style="font-size: 1.5em;">What's included in a cleaning?</a>
        </div>
        <div class="row paddingtop">
          <div class="col-md-5 col-md-offset-2">
            <p class="formcheckmarks text-left">
              <span class="glyphicon glyphicon-ok text-success"></span> Experienced & background-checked professionals</p>
            <p class="formcheckmarks text-left">
              <span class="glyphicon glyphicon-ok text-success"></span> Easy online payment & rescheduling</p>
            <p class="formcheckmarks text-left">
              <span class="glyphicon glyphicon-ok text-success"></span> Affordable & flexible cleaning plans</p>
          </div>
          <div class="col-md-5 ">
            <p class="formcheckmarks text-left">
              <span class="glyphicon glyphicon-ok text-success"></span> Request your favorite professionals</p>
            <p class="formcheckmarks text-left">
              <span class="glyphicon glyphicon-ok text-success"></span> Every cleaning is insured </p>
            <p class="formcheckmarks text-left">
              <span class="glyphicon glyphicon-ok text-success"></span> Cleaning supplies included</p>
          </div>
      
      
      
      
        </div>  
      </div>
      
      
        <!-- HOW IT WORKS -->
      <div class="container-fluid paddingtop ">
          <div class="row howitworks paddingtop   ">
        <h2 class="text-center paddingbottom">How it works</h2>
      <div class="col-md-3 col-md-offset-3">
        <img src="calendar.png" width="100" alt="">
        <p  class="paddingtop" style="font-weight: bold;font-size:1.4em;">Set up a cleaning plan</p>
        <p>Select the day and time for your cleaning plan</p>
        <p> and get instant   affordable pricing.</p>
      </div>
      <div class="col-md-3">
          <img src="sitback.png" width="100" alt="">
        <p  class="paddingtop" style="font-weight: bold;font-size:1.4em;">Manage cleanings online</p>
        <p>Rescheduling, contacting your professional,</p> 
          <p>and tipping became easier.</p>
        
        </div>
        <div class="col-md-3">
            <img src="managecleanings.png" width="100"  alt="" >
        <p  class="paddingtop"  style="font-weight: bold;font-size:1.4em;">Sit back & relax</p>
        <p>An experienced, fully-equipped</p>
        <p class="paddingbottom">pro will arrive at the scheduled time.</p>
          </div>
        </div>
      </div>









<app-footer></app-footer>
